[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shyam2334
[access "refs/for/refs/*"]
	read = group user/Shyam2334
	push = group user/Shyam2334
	label-Code-Review = -2..+2 group user/Shyam2334
	label-Verified = -1..+1 group user/Shyam2334
	rebase = group user/Shyam2334
	removeReviewer = group user/Shyam2334
	submit = group user/Shyam2334
[access "refs/heads/*"]
	read = group user/Shyam2334
	create = group user/Shyam2334
	push = +force group user/Shyam2334
	pushMerge = group user/Shyam2334
[access "refs/tags/*"]
	push = group user/Shyam2334
	push = +force group user/Shyam2334
